$break-sm          : 624px;
$break-md          : 912px;
$break-lg          : 1200px;

$purple-brown      : #231f20;
$white             : #fff;

$font__size_base   : 14px;
$font__size_medium : 26px;
$font__size_large  : 32px;
