.block-1
{
    position: relative;

    padding-bottom: 82px;
    h1,
    p
    {
        font-weight: bold;
        line-height: 1.43em;

        margin: 48px 0;
    }
    &::after
    {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        height: 17px;

        content: '';

        opacity: .1;
        background-image: linear-gradient(to bottom, rgba($white, 0), $purple-brown);
    }
}
